body {
    background-color: #444343;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 0.9em;
    text-align: justify;
    color: #ffffff;
   
}
/*
h1 {
    color : blue
}

ul>li {
    color: red;
}*/

.img1{

    
}

.row{
    
}

.container{
			
}